

@font-face {
    font-family: Spartan;
    src: url(./fonts/Spartan-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Spartan;
    src: url(./fonts/Spartan-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Spartan;
    src: url(./fonts/Spartan-ExtraBold.ttf);
    font-weight: 950;
}
@font-face {
    font-family: Spartan;
    src: url(./fonts/Spartan-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Spartan;
    src: url(./fonts/Spartan-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Spartan;
    src: url(./fonts/Spartan-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Spartan;
    src: url(./fonts//Spartan-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Spartan;
    src: url(./fonts/Spartan-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Spartan;
    src: url(./fonts/Spartan-Thin.ttf);
    font-weight: 100;
}

.none {
    display: none;
}

body {
    font-size: 14px;
    font-family: Spartan;
}

a {
    list-style: none;
    color: white;
    text-decoration: none;
}

.black-container {
    max-width: 100vw;
    background-color: black;
    padding-top: 5px;
}

.container-fluid {
  max-width: 100vw;
}

.flex {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* .flex-gap {
    display: flex;
    gap: 20px;
} */

.address-bar {
    color: white;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.address-bar div {
    display: flex;
    gap: 15px;
}

.container-fulid-header img {
    width: 14px;
    height: 14px;
}

.container-fulid-header {
    height: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;;
    width: 85%;

}

.container-header {
    margin-top: 1rem;
}

.socials {
    display: flex;
    gap: 10px;
}

.container {
    margin-top: 50px;
    margin: 0 auto;
    width: 85%;
    padding-top: 10px;
}

.button-icons img {
    margin-left: 15px;
}

.main-container {
    margin-top: 3rem;
}

.container-header h1 {
    font-size: 2.7rem;
    color: black;
    /* margin-top: -15px; */
    
}

.container-header a {
    font-size: 1.1rem;
    color: black;
}

.banner-tittle {
    display: inline-block;
    width: 300px;
    height: 100px;
    border: 1px solid white;
    background-color: white;
    text-align: center;
    
}
 .banner-tittle p {
     color: lightslategrey;
     margin: 28px 0 15px;
     font-size: 0.7rem;
 }

 .banner-tittle h2 {
     font-size: 1.2rem;
 }

 .left-image {
     width: 680px;
     position: relative;
     display: inline-block;
 }

.left {
    width: 100%;
}
 .left-image>div:first-child {
     width: 100%;
 }

 .slider-image {
    width: 540px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 65px;
    top: 38%;
 }

 .left-image img {
     margin-right: 20px;
 }
 .rigth-images {
     display: flex;
     gap: 25px;
     flex-wrap: wrap;
     justify-content: space-between;
     width:680px;
 }

 .images-container {
     display: flex;
     gap: 20px;
     justify-content: space-between
 }


.images-2 {
    display: flex;
    gap: 30px;
    position: relative;
    width: 680px;
}

.images-2 p {
    position: absolute;
    left: 15%;
    top:45%;
    display: inline-block;
    border: 1px solid white;
    padding: 15px;
    background-color: white;
}
.images-2 h4 {
    position: absolute;
    right: 15%;
    top:45%;
    display: inline-block;
    border: 1px solid white;
    padding: 15px 20px;
    background-color: white;
}

.rigth-images h5 {
    position: absolute;
    right: 30%;
    top:45%;
    display: inline-block;
    border: 1px solid white;
    padding: 15px 20px;
    background-color: white;
}

.images-2 img {
    width: 100%;
}

.bug-image {
    width: 680px;
    position: relative;
}

.bug-image img {
    width: 100%;
}

.rigth-images img {
    width: 100%;
}

 .first-main-footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
 }

 .shop-info img {
     vertical-align: top;
     margin-right: 10px;
 }
 .shop-info div {
     display: inline-block;
 }

 .shop-info h6 {
     font-family: Spartan;
     font-size: 12px;
     line-height: 2;
 }

 .shop-info p {
    font-size: 12px;
 }

 .womans-section {
     margin-top: 120px;
 }

 .womans-section h1 {
     font-size: 22px;
     font-weight: 500;
 }

 .womans-section a {
    color: black;
    font-size: 12px;
 }

 .womans-section {
     display: flex;
     justify-content: space-between;
 }

 .womans-section ul {
     display: flex;
     gap: 35px;
 }


.clotes-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
 .cloth {
     width: 330px;
 }

 .cloth>img {
     width: 100%;
 }

 .cloth p {
     margin-top: 15px;
 }

.price {
    margin-top: 16px;
}

.price span {
    font-weight: 700;
}

.price img {
    float: right;
}

.see-all-clotes{
    margin-top: 50px;
    text-align: center;
    background-color: #F8F8F8;
}

.see-all-clotes p {
    display: inline-block;
    padding: 20px 0;
}

.salling-section {
    margin-top: 100px;
}

.salling-section .left-image img {
    width: 100%;
}

.salling-section .left-image {
    position: relative;
    width: 780px;
}

.salling-section .banner-tittle {
    position: absolute;
    left: 25%;
    top: 40%;
}

.banner-tittle2 span {
    color: red;
    font-weight: 500;
}

.banner-tittle2 {
    display: inline-block;
    width: 300px;
    height: 100px;
    border: 1px solid white;
    background-color: white;
    text-align: center;
    position: absolute;
    left: 28%;
    top: 40%;
}

.banner-tittle2 p {
    color: lightslategrey;
    margin: 28px 0 15px;
    font-size: 0.7rem;
}

.rigth-image {
    position: relative;
    width: 780px;
}

.rigth-image img {
    width: 100%;
}

.speciall-offer {
    margin-top: 100px;
    box-sizing: border-box;
    height:625px;
    background-color:#F3F2F2;
}

.speciall-offer {
    position: relative;
}

.absolute {
    position: absolute;
}

.woman-image {
    top: 12%;
    left: 12%;
    z-index: 1;
}
.men-image {
    top: 12%;
    right: 15%;
    z-index: 1;
}

.offer-discount {
    width:650px;
    height: 450px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.offer-info {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-info p {
    font-size: 12px;
    color:#5c5858 ;
}

.offer-info h2 {
    margin-top: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
}

.offer-info span {
    color: red;
}

.offer-info input {
    box-sizing: border-box;
    margin-top: 30px;
    width:480px;
    height: 70px;
    background-color:#F8F8F8;
    padding: 25px 95px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid white;
}

::placeholder {
    font-size: 1.3rem;
}

.offer-info a {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 30px;
    width:480px;
    height: 70px;
    background-color:#0a0a0a;
    padding: 25px 95px;
    text-align: center;
    font-size: 1.2rem;
}

.latest-info {
    margin-top: 100px;
}

.latest-info-header {
    display: flex;
    justify-content: space-between;
}

.latest-info h3 {
    font-size: 22px;
    font-weight: 500;
}

.latest-info p {
    font-size: 12px;
    color: #5c5858;
}

.blog {
    position: relative;
    width: 400px;
}

.blog img {
    width: 100%;
}

.latest-blog {
    padding-bottom: 50px;
    margin-top: 60px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.blog-info {
    width: 320px;
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.blog-info h5 {
    font-size: 14px;
    font-weight: 500;
}

.blog-info p {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.5;
}

.footer-section {
    margin-top: 100px;
}

.footer-header {
    padding: 10px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-input input {
    color: grey;
    width: 470px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 0 10px 20px;
    background-color:#4b4747 ;
    border: 1px solid black;
}
.footer-input {
    display: flex;
    gap: 15px;
}

.footer-header p {
    color: rgb(255, 255, 255);
    vertical-align: top;
}

.footer-header a {
    display: inline-block;
    border: 2px solid white;
    padding: 20px 35px 7px;
    vertical-align: top;
    font-size: 12px;
}

.footer-header .socials img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.footer-list {
    margin-top: 40px;
}

.list-footer ul{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list-footer a {
    color: black;
    font-size: 14px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-list img {
    margin-right: 15px;
    margin-top: -20px;
}


.copyrigith.black-container {
    background-color: #ccc5c5;
    margin-top: 50px;
}

.copyrigith-info {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
}

.copyrigith-info span {
    font-weight: bold;
}

.payng-company {
    display: flex;
    gap: 25px;
}

/* women-menu */

.woman {
    text-align: center;
    margin-top: 20px;
    background-color: #e7e9ec;
    padding: 30px;
}

.woman h1 {
    font-size: 2.3rem;
    font-weight: 500;
}

.flex-header a {
    color: black;
}

.menu-share {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.menu-share2 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.flex-header {
    margin-top: 25px;
    padding: 15px;
    background-color: #e7e9ec;
    display: flex;
    justify-content: space-between;
}

.filter-flex {
    margin-top: 35px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.women-filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.black-cube {
    box-sizing: border-box;
    margin-top: 100px;
    width: 30px;
    height: 30px;
    background-color: black;
    transform: rotate(45deg);
    margin: 0 auto;
}

.cube {
    margin-top: 80px;
}